:root {
  --main-bg-color: #F3F3F3;
  --black: #222;
  --font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--font-family);
  font-size: 18px;
  background-color: var(--main-bg-color);
  color: var(--black);
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  position: absolute;
  text-align: center;
}

a {
  color: var(--black);
  font-weight: bold;
}
