---
title: Home
---

<div class="flex h-screen justify-center items-center">
  <div class="text-center">
    <h1>Middleman + Ralix + Tailwind</h1>

    <p class="text-3xl mb-12">Starter Kit to build modern static websites fast</p>

    <%= link_to 'Get started', 'https://github.com/ralixjs/middleman-ralix', class: 'btn' %>
  </div>
</div>
