---
title: Home
---

<div class="flex h-screen justify-center items-center">
  <div class="text-center">
    <h1 class="text-7xl text-teal-200">Middleman ❤️ Ralix</h1>

    <p class="text-xl mb-10 text-white">Starter Kit to build static websites</p>

    <%= link_to 'Get started', 'https://github.com/ralixjs/middleman-ralix', class: 'bg-blue-500 text-white py-3 px-6 rounded' %>
  </div>
</div>
